body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item, .navbar-brand, .navbar-text
{
    font-family: 'Comfortaa', sans-serif;
    padding-inline: 10px;
    text-align: center;
    color: rgb(75, 12, 102);
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:hover #logoutButton
{
    color: white;
    background-color: #6b1e94;
}

.navbar-nav .nav-item:active .nav-link,
.navbar-nav .nav-item:active #logoutButton
{
    color: white;
    background-color: rgb(75, 12, 102);
}

#logoutButton
{
    border-color: rgb(75, 12, 102);
    color: rgb(75, 12, 102);
}

.material-symbols-outlined
{
    vertical-align: middle;
}

#contactsTitle {
    text-align: center;
    font-family: 'Trispace', sans-serif;
    letter-spacing: 5px;
}

#searchAddBar {
    font-family: 'DM Sans';
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.searchAddItems
{
    color: rgb(75, 12, 102);
    border: 5px solid rgb(75, 12, 102);
}

#searchAddBar button:hover
{
    background-color: rgb(75, 12, 102);
    color: white;
    border: 1px solid rgb(75, 12, 102);
}

.custom-popover
{
    --bs-popover-background-color: rgb(75, 12, 102);
    --bs-popover-color: white;
}

.contactIconArea
{
    width: 7%;
}

.icons 
{
    height: 50px;
    width: 50px;
}

.contactBtns
{
    color: rgb(75, 12, 102);
    background-color: white;
    border: 1px solid rgb(75, 12, 102);
    border-radius: 4cap;
    height: 50px;
    width: 50px;
}

.contactBtns:hover
{
    color: white;
    background-color: rgb(75, 12, 102);
}
