body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item, .navbar-brand
{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    color: rgb(75, 12, 102);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
    background-color: rgb(75, 12, 102);
}

.material-symbols-outlined
{
    vertical-align: middle;
}

#nav 
{
	height: 60px;
	text-align:center;
}

#nav-user
{
    margin-right: 10%;
}

#contactsTitle {
    text-align: center;
    font-family: 'Trispace', sans-serif;
    letter-spacing: 5px;
}

#searchAddBar {
    font-family: 'DM Sans';
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.searchAddItems
{
    color: rgb(75, 12, 102);
    border: 5px solid rgb(75, 12, 102);
}

#searchAddBar button:hover
{
    background-color: rgb(75, 12, 102);
    color: white;
    border: 1px solid rgb(75, 12, 102);
}

#noResultsTxt
{
    margin-top: 100px;
    color: white;
    font-family: Optima, Segoe, "Segoe UI";
    text-decoration: none;
}

.contactIconArea
{
    width: 7%;
}

.icons 
{
    height: 50px;
    width: 50px;
}

.contactBtns
{
    color: rgb(75, 12, 102);
    background-color: white;
    border: 1px solid rgb(75, 12, 102);
    border-radius: 4cap;
    height: 50px;
    width: 50px;
}

.contactBtns:hover
{
    color: white;
    background-color: rgb(75, 12, 102);
}
