body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item, .navbar-brand, .navbar-text
{
    font-family: 'Comfortaa', sans-serif;
    padding-inline: 10px;
    text-align: center;
    color: #4b0c66;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:active #logoutButton {
    color: white;
    background-color: #4b0c66;
}

.navbar-nav .nav-item.hover .nav-link,
.navbar-nav .nav-item:hover #logoutButton {
    color: white;
    background-color: #6b1e94;
}

.material-symbols-outlined
{
    vertical-align: middle;
}

#logoutButton
{
    border-color: #4b0c66;
    color: #4b0c66;
}

#contactsTitle {
    text-align: center;
    font-family: 'Trispace', sans-serif;
    letter-spacing: 5px;
}

#searchAddBar {
    font-family: 'DM Sans';
    display: flex;
    padding-bottom: 5px;
    border-radius: 35px;
    box-shadow: 0px 0px 30px rgb(198, 192, 192);
}

#searchAddBar button
{
    color: #4b0c66;
    border: 1px solid #4b0c66;
}

#searchAddBar button:hover,
#searchAddBar button:focus
{
    background-color: #6b1e94;
    color: white;
    border: 1px solid #4b0c66;
}

#searchAddBar button:active
{
    background-color: #4b0c66;
    color: white;
    border: 1px solid #4b0c66;
}

#noResultsTxt
{
    margin-top: 100px;
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

#contacts
{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 35px;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 0px 0px 30px rgb(198, 192, 192);
}

tbody td img
{
    margin-left: 5px;
    width: 7%;
}

.icons 
{
    height: 50px;
    width: 50px;
}

.contactBtns
{
    color: #4b0c66;
    background-color: white;
    border: 1px solid #4b0c66;
    border-radius: 4cap;
    height: 50px;
    width: 50px;
}

.contactBtns:hover,
.contactBtns:focus
{
    color:white;
    background-color: #6b1e94;
}

.contactBtns:active
{
    color: white;
    background-color: #4b0c66;
}

.modal
{
    font-family: 'DM Sans', sans-serif;
}
/*
.modal .modal-header
{
    color:white;
    background-color: #6b1e94;
}

#modal-editIcon
{
    color: yellow;
}
*/
.modal-footer
{
    justify-content: space-between;
}

.modal .modalCancel
{
    color: #5643fd;
    border-color: #5643fd;
}

.modal .modalCancel:hover
{
    background-color: #d7d3fe;
    color: #3b2eae;
    border-color: #5643fd;
}

.modal .modalSubmit
{
    color: white;
    background-color: #5643fd;
}

.modal .modalSubmit:hover
{
    color: white;
    background-color: #3b2eae;
    box-shadow: #d7d3fe 1px 3px;
}
