/* body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
} */

/* .nav-link, .navbar-brand, .navbar-text, .nav-item
{
    font-family: 'Comfortaa', sans-serif;
    padding-inline: 10px;
    text-align: center;
    color: #4b0c66;
    transition: color 0.3s ease-in-out;
} */

.navbar-nav .nav-item:hover .nav-link {
    color: white;
    background-color: #6b1e94;
}

.navbar-nav .nav-item:active .nav-link
{
    color: white;
    background-color: #4b0c66;
}

.navbar-custom.scrolled {
    background-color: #060c60; 
    transition: background-color 200ms linear;
  }

.material-symbols-outlined
{
    vertical-align: middle;
}

#branding
{
    padding-bottom: 5%;
    margin: auto;
}

#title 
{
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'DM Sans', sans-serif; */
    color: #E0E0FF;
    text-shadow: 2px 2px 8px #000000;
    animation: colorShift 5s ease-in-out infinite, float 8s ease-in-out infinite;
}

#subtitle 
{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Comfortaa', sans-serif;
    color: #E0E0FF;
    text-shadow: 2px 2px 8px #000000;
    animation: colorShift 5s ease-in-out infinite, float 8s ease-in-out infinite;
}

#logo
{
    padding-top: 5%;
    display: block; 
    width: 100%;
    margin: auto;
    height: auto;
    max-width: 500px; 
    animation: logo-swell 10s infinite;
}

@keyframes logo-swell {
    0% {
      transform: translate(0%, 3%);
    }
  
    50% {
      transform: translate(0%, -2%);
    }
  
    100% {
      transform: translate(0%, 3%);
    }
}

.card
{
    position: relative;
	margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 12%;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.4);
    border-radius:8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 5px -5px 10px rgba(255, 255, 255, 0.4);
    padding-bottom: -12%;
    opacity: 0.9; /*gives or should give a border color change */
    border-color: #6b1e94;
}

.card:hover .card-text
{
    display:block;
}

.card-img-top:hover {
    filter: brightness(120%);
}

.card-title
{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card-text
{
    /*
    position: absolute;
    */
    display: none;
}

/* input:focus, button:focus, a:hover, input:hover, button:hover {
    outline: none;
    border-color: #6b1e94;
    box-shadow: 0 0 0 2px rgba(107, 30, 148, 0.2);
} */

#desc
{
    width: 100%;
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

/* footer section area */
/* 
.footer {
    position: relative;
    width: 100%;
    background: #4b0c66;
    min-height: 200px; 
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; 
} */

/* animation for text */ 
/* @keyframes colorShift {
    0%, 100% {
        color: #ffffff;
    }
    50% {
        color: #FFEA00; 
    }
} */

/* @keyframes float {
    0%, 100% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
} */
