body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-link, .navbar-brand, .navbar-text, .nav-item
{
    font-family: 'Comfortaa', sans-serif;
    padding-inline: 10px;
    text-align: center;
    color: rgb(75, 12, 102);
}

.navbar-nav .nav-item:hover .nav-link {
    color: white;
    background-color: #6b1e94;
}

.navbar-nav .nav-item:active .nav-link
{
    color: white;
    background-color: rgb(75, 12, 102);
}

.material-symbols-outlined
{
    vertical-align: middle;
}

#branding
{
    padding-bottom: 5%;
    margin: auto;
}

#title 
{
    font-size: 100px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
}

#subtitle 
{
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Comfortaa', sans-serif;
    color: #ffffff;
}

#logo
{
    padding-top: 5%;
    display: block; 
    width: 100%;
    margin: auto;
    height: auto;
    max-width: 500px; 
    animation: logo-swell 10s infinite;
}

@keyframes logo-swell {
    0% {
      transform: translate(0%, 3%);
    }
  
    50% {
      transform: translate(0%, -3%);
    }
  
    100% {
      transform: translate(0%, 3%);
    }
}

.card
{
	margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 12%;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.4);
}

.card:hover{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 5px -5px 10px rgba(255, 255, 255, 0.4);
}

.card:hover .card-text
{
    display:block;
}

.card-title
{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card-text
{
    display:none
}

#desc 
{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}