/* Site-wide styles. */
html {
    scroll-behavior: smooth;
}

body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: GradientShift 10s ease infinite;
    background-size: 200% 200%;
}

.footer {
    position: relative;
    width: 100%;
    background: #2c2635;
    min-height: 200px; 
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; 
}

.footer button
{
    color: white;
    background: none;
    border: 0px;
}

.footer button:hover
{
    color: #6f97fa;
}

.modal-content
{
    color: white;
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    border: 2px solid white;
    font-family: 'DM Sans', sans-serif;
}

.footer .modal-header
{
    color: white;
    border-bottom: 0px;
    font-family: 'Comfortaa', sans-serif;
}

.footer .modal-header button
{
    color: white;
}

.devProfile
{
    box-shadow: 0px 0px 30px rgb(198, 192, 192);
    color: #060c60;
}

.devProfile span
{
    margin-left: 6%;
}

@keyframes GradientShift {
    0%, 100% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
}
