/* Site-wide styles. */
html {
    scroll-behavior: smooth;
}

body 
{
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* animation: GradientShift 10s ease infinite; */
    background-size: 200% 200%;
}

.nav-link, .navbar-brand, .navbar-text, .nav-item
{
    font-family: 'Comfortaa', sans-serif;
    padding-inline: 10px;
    text-align: center;
    color: #4b0c66;
    transition: color 0.3s ease-in-out; /*should create a smoother color change*/
}

nav .nav-item .btn
{
    color: #4b0c66;
    border: 1px solid #4b0c66;
    background-color: white;
}

.btn
{
    color: #4b0c66;
    border: 1px solid #4b0c66;
    background-color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
}

.btn:hover, nav .nav-item .btn:hover
{
    color: white;
    background-color: #6b1e94;
    border-color: #6b1e94;
    box-shadow: 1px 1px 1px 1px #4b0c666b;
}

.btn:focus, .buttons:focus,
nav .nav-item .btn:focus
{
    color: white;
    background-color: #6b1e94;
    outline: 4px solid #ae6bd297;
    outline-offset: 2px;
}

.material-symbols-outlined
{
    vertical-align: middle;
}

.footer {
    position: relative;
    width: 100%;
    background: #18155b;
    min-height: 200px; 
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; 
}

.footer button,
.footer a
{
    color: white;
    background: none;
    border: 0px;
}

.footer button:hover,
.footer a:hover
{
    color: #6f97fa;
}

.footer .modal-content
{
    color: white;
    background: radial-gradient(circle at top, #060c60 , #8c6c9d);
    border: 2px solid white;
    font-family: 'DM Sans', sans-serif;
}

.footer .modal-header
{
    color: white;
    border-bottom: 0px;
    font-family: 'Comfortaa', sans-serif;
}

.footer .modal-header .btn
{
    padding: 2px;
}

.footer .modal-header .btn:hover
{
    color: rgba(255, 255, 255, 0.5);
    outline: 1.5px solid rgba(255, 255, 255, 0.5);
    background: transparent
}

.footer .modal-header .btn:focus
{
    color: white;
    outline: 2px solid #ffffff;
    background-color: #18155b;
}

.footer .modal-header button
{
    color: white;
}

.devProfile
{
    box-shadow: 0px 0px 30px rgb(198, 192, 192);
    color: #060c60;
}

.devProfile span
{
    margin-left: 6%;
}

/* @keyframes GradientShift {
    0%, 100% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
} */
